<header class="grid grid-flow-col mb-16 relative" (click)="popDetail()">
  <span class="text-xs font-bold flex justify-center">Cinta Coding</span>
  <span class="text-xs text-gray-400 flex justify-center border-b-2 border-blue-200">Post</span>
  <span class="text-xs font-bold grid flex justify-center">Welcome, <span
    class="text-xs text-blue-400">{{username}}</span></span>

  <div class="popup-profile-detail text-xs absolute right-2 top-8 px-2 py-2 z-10 bg-white rounded-md border-2" *ngIf="isDetailPopup">
    <a
      [routerLink]="['/profile']">Detail Profile</a>
  </div>
</header>

