<div class="container mx-auto flex flex-col justify-center align-center py-16 px-16 md:mx-auto lg:mx-auto xl:mx-auto">
  <h3 class="flex justify-center font-bold">Login Page</h3>

  <form class="login-form flex flex-col justify-center align-center mt-16 mx-auto md:max-w-screen-sm lg:max-w-screen-sm xl:max-w-screen-sm"
        [formGroup]="loginForm">

    <label class="flex flex-col justify-center align-center mb-8">
      <input type="text" [formControl]="username" name="username" placeholder="username"
             class="border-blue-200 rounded-3xl text-sm"/>
      <span
        class="text-xs text-red-400 flex justify-center py-2"
        *ngIf="username.invalid && (username.dirty || username.touched)">
      Mohon masukkan username Anda
    </span>
    </label>

    <label class="flex flex-col justify-center align-center mb-8">
      <input type="password" [formControl]="password" name="password" placeholder="password"
             class="border-blue-200 rounded-3xl text-sm"/>
      <span
        class="text-xs text-red-400 flex justify-center py-2"
        *ngIf="password.invalid && (password.dirty || password.touched)">
      Mohon masukkan password Anda
    </span>
    </label>

    <button
      (click)="login()"
      class="py-2 px-4 border text-sm font-medium rounded-3xl bg-blue-400 border-blue-200 text-white cursor-pointer outline-none">
      Login
    </button>

  </form>
</div>
