<div class="post flex flex-row align-start justify-start mb-4">
  <div class="post-name font-bold mr-8 text-xs">{{username}}</div>
  <div class="post-desc flex flex-col">
    <div class="post-body text-xs text-gray-400">{{post.title}}</div>
    <div class="post-bottom flex flex-row text-xs mt-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="#60a5fa">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
      </svg>
      <span class="ml-1 text-blue-400 font-bold">{{totalComments}}</span>
      <a class="ml-8 text-xs text-blue-400 font-bold" [routerLink]="['/detail', post.id]">Detail</a>
    </div>
  </div>
</div>
