<div class="container mx-auto flex flex-col p-4">
  <app-header></app-header>

  <div class="post-list md:mx-auto lg:mx-auto xl:mx-auto">
    <app-single-post *ngFor="let post of postList"
                     [post]="post"
                     [username]="username"></app-single-post>
  </div>
</div>
