<div class="container mx-auto flex flex-col p-4">
  <app-header></app-header>

  <div class="post-detail md:mx-auto lg:mx-auto xl:mx-auto">
    <a [routerLink]="['/home']">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
      </svg>
    </a>

    <div class="post-content flex my-4">
      <div class="post-user flex items-center mr-8 font-bold">{{postAuthor}}</div>
      <div class="post-desc">
        <div class="post-title text-xs text-gray-400 mb-4">{{postTitle}}</div>
        <div class="post-body text-xs text-gray-400">{{postBody}}</div>
      </div>
    </div>

    <div class="flex ml-16">
      <div class="post-bottom flex flex-row text-xs mt-2 cursor-pointer" *ngIf="!isCommentsActive"
           (click)="showComments()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="#60a5fa">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
        </svg>
        <span class="ml-1 text-blue-400 font-bold">{{postCommentsCount}}</span>
      </div>

      <div class="post-bottom flex flex-col text-xs mt-2 cursor-pointer" *ngIf="isCommentsActive"
           (click)="showComments()">
        <span class="text-gray-400 text-sm font-bold">All Comment</span>

        <div class="comment-list flex flex-col justify-start">
          <div class="comment my-4 grid grid-cols-2 items-center" *ngFor="let comment of postComments">
            <span class="comment-name mr-8 font-bold">{{comment.name}}</span>
            <span class="comment-body text-gray-400">{{comment.body}}</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
