<div class="container mx-auto flex flex-col p-4">
  <app-header></app-header>

  <div class="profile flex flex-col">
    <a [routerLink]="['/home']">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
      </svg>
    </a>

    <div class="profile-data my-4 px-8 md:mx-auto lg:mx-auto xl:mx-auto">
      <div class="username grid grid-cols-2 mb-6">
        <span class="text-sm text-gray-400">Username :</span>
        <span class="text-sm font-bold">{{username}}</span>
      </div>
      <div class="email grid grid-cols-2 mb-6">
        <span class="text-sm text-gray-400">Email :</span>
        <span class="text-sm font-bold">{{email}}</span>
      </div>
      <div class="address grid grid-cols-2 mb-6">
        <span class="text-sm text-gray-400">Address :</span>
        <span class="text-sm font-bold">{{address}}</span>
      </div>
      <div class="phone grid grid-cols-2">
        <span class="text-sm text-gray-400">Phone :</span>
        <span class="text-sm font-bold">{{phone}}</span>
      </div>
    </div>
  </div>

</div>
